@use "./reset";
@use "./colors" as *;
@use "./animation" as *;

html {
	scroll-padding-top: 98px;
}
body {
	font-family: "Montserrat", sans-serif;
	background-color: $bg-color;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}
.underline {
	width: 60px;
	height: 4px;
	background-color: $active-color;
	margin: 0 auto 40px;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.5);
}

// nawigacja
nav {
	text-transform: uppercase;
	z-index: 2;
	// w indexie dodałem position-relative w bootstrapie i nawigacja zwężyła się na maxa - aby znów byłą po dwóch stronach ekranu wydłużam na 100% rodzica. Inna alternatywa to zostawić tak jak było oryginalnie i dać transform: translateY(-4rem) na hero-grafice
	width: 100%;
	transition: background-color 0.6s;
}
.nav-container {
	z-index: 100;
	.navbar-collapse {
		.navbar-nav {
			.nav-link:focus {
				color: $active-color;
			}
			.active {
				color: $active-color;
			}
		}
	}
}
.nav-link {
	color: $white-color;
}
.nav-link:hover {
	color: $active-color;
}
.navbar-brand {
	font-weight: bold;
	color: $white-color;
	span {
		color: $active-color;
	}
	.fa-solid {
		color: $active-color;
	}
}
.navbar-brand:hover,
.navbar-brand:focus {
	color: $active-color;
}
.fa-bars {
	margin: 0;
	padding: 10px;
	color: $white-color;
}

nav::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	backdrop-filter: blur(6px);
}

// header
.hero-img {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-image: url("../img/ingo-schulz-640-unsplash.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: $white-color;
	// transform: translateY(-4rem);
	.hero-txt {
		text-align: center;
		z-index: 1;
		padding: 10px;
		h1 {
			text-transform: uppercase;
			font-size: 3rem;
			font-weight: bold;
			.span-fans {
				color: $active-color;
			}
		}
		p {
			padding-top: 20px;
			font-size: 1.8rem;
		}
	}
	.fa-chevron-down {
		position: absolute;
		bottom: 50px;
		// transform: translateX(-50%); 
		// zakomentowane, bo jest w _animation.scss
		color: $white-color;
	}
	.fa-chevron-down:hover,
	.fa-chevron-down:focus {
		color: $active-color;
	}
}
.hero-img::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.46);
}
.btn:hover,
.btn:focus {
	background-color: $active-color;
	color: $white-color;
}

// o nas

i {
	font-size: 2rem;
}
.aboutus-card-title {
	font-size: 1.2rem;
	text-transform: uppercase;
}

.aboutus-card-text {
	font-size: 1rem;
}
// .aboutus-hover {
// 	transition: all 0.3s;
// }
.aboutus-hover:hover {
	color: $active-color;
}

.hero-img-about {
	position: relative;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	margin-top: 3rem;
	background-image: url("../img/technology-2818664_640.jpg");
	background-position: center;
	background-size: cover;
	color: $light-grey;
	z-index: 0;
	.container {
		z-index: 2;
	}
}
.hero-img-about::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}
.aboutus-hero-item {
	margin: 30px 0;

	i {
		margin: 10px 0 0;
	}
	.aboutus-hero-title {
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
}
// Portfolio

.portfolio {
	background-color: $bg-color;
	.carousel-item {
		position: relative;
	}
	.carousel-caption {
		position: absolute;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(3px);
	}
	.carousel-indicators {
		padding-bottom: 10px;
	}
	.card-group {
		.card {
			border-radius: 7px;
			overflow: hidden;
		}
	}
}

// ceny

.bold {
	font-weight: 700;
	text-transform: uppercase;
	color: #6c757d;
}
.prices {
	i {
		font-size: 1.2rem;
		margin: 0;
		padding: 0 5px;
	}
	.price-box {
		position: relative;
		background-color: #fff;
		padding: 20px;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
		transition: all 0.3s;
		min-height: 404px;

		h4 {
			color: $active-color;
			text-transform: uppercase;
		}
		.price-bold {
			font-weight: 700;
		}
		.price-tag {
			font-weight: 700;
			font-size: 1.7rem;
			padding-top: 10px;
		}
		.line {
			height: 1px;
			width: 300px;
			background-color: rgb(184, 184, 184);
			margin: 20px auto;
		}
		.btn {
			padding: 10px 20px;
			position: absolute;
			text-transform: uppercase;
			bottom: 25px;
			transform: translateX(-50%);
		}
	}
	.container-info {
		a {
			text-decoration: none;
		}
	}
	.price-box:hover {
		transform: scale(1.05);
	}
}

// team

.hero-img-team {
	position: relative;
	background-image: url("../img/benjamin-child-conference-room-unsplash640.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	.hero-img-bg-team {
		background-color: rgba(0, 0, 0, 0.6);
		.hero-txt-team {
			z-index: 1;
			color: $light-grey;
			padding-top: 2rem;
		}

		.card-group {
			margin: 0 auto;
			padding-bottom: 1.4rem;

			.card {
				// height: 100%;
				display: flex;
				flex-direction: column;

				transition: all 0.3s;
				img {
					height: 300px;
					object-fit: cover;
				}

				i {
					padding: 10px;
				}
				.card-title {
					margin-bottom: 20px;
					text-align: center;
					text-transform: uppercase;
				}
				.card-body {
					min-height: 13rem;
				}
				// .card-footer {
				// 	position: absolute;
				// 	width: 100%;
				// 	bottom: 0;
				// }
			}
			.card:hover {
				transform: scale(0.98);
			}
		}
	}
}

// osiągnięcia

.achivements {
	.container {
		.row {
			p {
				text-transform: uppercase;

				i {
					color: #fff;
					font-size: 4rem;
					text-shadow: 0px 0px 6px black;
				}
			}
			p:nth-of-type(3) {
				margin: 20px 0 50px;
			}
		}
	}
}

// kontakt

.contact {
	color: $light-grey;
	position: relative;
	background-image: url("../img/skyline-1869214_640.jpg");
	background-attachment: fixed;
	background-position: bottom;
	background-size: cover;
	z-index: 0;

	h2 {
		font-weight: bold;
		letter-spacing: 2px;
	}
	h3 {
		text-transform: uppercase;
	}
	.underline {
		background-color: $light-grey;
	}
	.fab {
		margin: 10px;
		color: #fff;
	}
	.fab:hover {
		color: $light-grey;
	}

	.contact-bg-shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		background-color: rgba(1, 11, 27, 0.6);
		z-index: -1;
	}
}

@media (width <=290px) {
	.hero-img {
		.hero-txt {
			h1 {
				font-size: 2.2rem;
			}
			p {
				font-size: 1.3rem;
			}
		}
	}
}
@media (width >= 768px) {
	.hero-img {
		background-image: url("../img/ingo-schulz-1920-unsplash.jpg");
		.hero-txt {
			h1 {
				font-size: 3.5rem;
			}
		}
		.fa-chevron-down {
			font-size: 4rem;
		}
	}
	.hero-img-about {
		background-image: url("../img/technology-2818664_1920.jpg");
	}
	.hero-img-team {
		background-image: url("../img/benjamin-child-conference-room-unsplash1920.jpg");
	}
	.contact {
		background-image: url("../img/skyline-1869214_1920.jpg");
	}
}
@media (width >= 992px) {
	.prices {
		.container-info {
			p:nth-of-type(1) {
				font-size: 1.2rem;
			}
		}
	}
}
